<style>
  .product-detail {
    margin-bottom: 10px;
  }
  .product-card {
    flex: 0 0 calc(20% - 20px); /* Adjust the width and margin based on your design */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 20%;
  }
  .product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
</style>
<div class="product-card">
  <p class="product-detail">
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <%= link_to product.url, target: "_blank" do %>
    <div style="position: relative;">
      <!-- Add the "<%= product.discount%> off" label with red color -->
      <span style="position: absolute; top: 0; left: 0; background-color: red; color: white; padding: 5px;">
      <%= product.discount %> off
      </span>

      <img src="<%= product.image %>" alt="<%= product.name %> Image" class="product-image">
    </div>
  <% end %>

  <p class="product-detail">
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p class="product-detail">
    <strong>Brand:</strong>
    <%= product.brand %>
  </p>

  <p class="product-detail">
    <strong>Discount:</strong>
    <%= product.discount %>
  </p>

  <p class="product-detail">
    <strong>After discount price:</strong>
    <%= product.after_discount_price %>
  </p>
  </div>
