<style>
  .products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .product-container {
    flex: 1 0 calc(25% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  .product-container p {
    margin: 5px 0;
  }

  .product-container strong {
    color: #333;
  }

  .product-image {
    max-width: 100%;
    height: auto;
  }
</style>

<div class="products-container">
  <% @products.each do |product| %>
    <div id="<%= dom_id product %>" class="product-container">
      <p>
        <strong>Name:</strong>
        <%= product.name %>
      </p>

      <p>
        <strong>Url:</strong>
        <%= product.url %>
      </p>

      <p>
        <img src="<%= product.image %>" alt="<%= product.name %> Image" class="product-image">
      </p>

      <p>
        <strong>Old Price:</strong>
        <%= product.price %>
      </p>

      <p>
        <strong>Discounted Price:</strong>
        <%= product.after_discount_price %>
      </p>

      <p>
        <strong>Brand:</strong>
        <%= product.brand %>
      </p>

      <p>
        <strong>Discount:</strong>
        <%= product.discount %>
      </p>

      <p>
        <strong>After discount price:</strong>
        <%= product.after_discount_price %>
      </p>
    </div>
  <% end %>
</div>

